<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.dongfei.mybatis.dao.EmployeeMapper">
    <select id="getEmployeeById" resultType="tech.dongfei.mybatis.bean.Employee" databaseId="mysql">
        select * from tb1_employee where id = #{id}
  </select>

<!--    public void addEmp(Employee employee);-->
    <select id="addEmp" parameterType="tech.dongfei.mybatis.bean.Employee">
        insert into tb1_employee(last_name,email,gender)
        values(#{lastName},#{email},#{gender})
    </select>

<!--    public void updateEmp(Employee employee);-->
    <select id="updateEmp" >
        update tb1_employee
        set last_name=#{lastName},email=#{email},gender=#{gender}
        where id=#{id}
    </select>

<!--    public void deleteEmpById(Integer id);-->
    <select id="deleteEmpById">
        delete from tb1_employee where id=#{id}
    </select>

</mapper>